# Ignore everything
**

# Except jar files
!spesialist-bootstrap/build/deps/**
!spesialist-bootstrap/build/libs/**
!spesialist-db-migrations/build/install/app
!spesialist-opprydding-dev/build/install/app
!spesialist-sidegig/build/libs/**
