# Ignore everything
**

# Except jar files
!spesialist-bootstrap/build/deps/**
!spesialist-bootstrap/build/libs/**
!spesialist-opprydding-dev/build/libs/**
!spesialist-migrering/build/libs/**
!spesialist-sidegig/build/libs/**
