apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  ingresses:
    - https://spesialist.dev.intern.nav.no
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  webproxy: true
  secureLogs:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "611669fa-de5c-4dc2-a0e8-6041a019992a"
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c"
          - id: "1119ba1f-3b10-4598-a47b-16568c379114"
          - id: "c811e9f4-26a6-43f9-b930-8c83365683a9"
          - id: "59f26eef-0a4f-4038-bf46-3a5b2f252155"
  accessPolicy:
    inbound:
      rules:
        - application: speil
          namespace: tbd
          cluster: dev-gcp
    outbound:
      rules:
        - application: spleis-api
          namespace: tbd
          cluster: dev-gcp
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        diskAutoresize: true
        databases:
          - name: spesialist
            envVarPrefix: DATABASE
            users:
              - name: spesialist-opprydding-dev
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spesialist-v1
    - name: RISK_SUPERSAKSBEHANDLER_GROUP
      value: 1119ba1f-3b10-4598-a47b-16568c379114
    - name: KODE7_SAKSBEHANDLER_GROUP
      value: c811e9f4-26a6-43f9-b930-8c83365683a9
    - name: BESLUTTER_SAKSBEHANDLER_GROUP
      value: 59f26eef-0a4f-4038-bf46-3a5b2f252155
    - name: SKJERMEDE_PERSONER_GROUP
      value: 611669fa-de5c-4dc2-a0e8-6041a019992a
    - name: SPLEIS_CLIENT_ID
      value: api://dev-gcp.tbd.spleis-api/.default
    - name: GRAPHQL_ENABLED
      value: "true"
    - name: GRAPHQL_PLAYGROUND_ENABLED
      value: "true"
    - name: BEHOLD_FORELENGELSER_TIL_UTS
      value: "true"
    - name: SPLEIS_API_URL
      value: "http://spleis-api"
    - name: KONTAKT_OG_RESERVASJONSREGISTERET_API_URL
      value: "https://digdir-krr-proxy.dev.intern.nav.no"
    - name: KONTAKT_OG_RESERVASJONSREGISTERET_SCOPE
      value: api://dev-gcp.team-rocket.digdir-krr-proxy/.default
