apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-dev
  webproxy: true
  secureLogs:
    enabled: true
  azure:
    application:
      enabled: true
      tenant: nav.no
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "611669fa-de5c-4dc2-a0e8-6041a019992a"
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c"
          - id: "1119ba1f-3b10-4598-a47b-16568c379114"
  accessPolicy:
    inbound:
      rules:
        - application: speil
  vault:
    enabled: true
  envFrom:
    - secret: spesialist
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spesialist-v1
    - name: DATABASE_HOST
      value: b27dbvl009.preprod.local
    - name: DATABASE_PORT
      value: "5432"
    - name: DATABASE_NAME
      value: spesialist
    - name: VAULT_MOUNTPATH
      value: postgresql/preprod-fss/
    - name: RISK_SUPERSAKSBEHANDLER_GROUP
      value: 1119ba1f-3b10-4598-a47b-16568c379114
    - name: SPLEIS_CLIENT_ID
      value: api://dev-fss.tbd.spleis-api/.default
    - name: SPESIALIST_OID
      value: be87b958-4ff0-405d-80b5-f47e836f0a0e
