apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
  replicas:
    min: 1
    max: 1
    cpuThresholdPercentage: 90
  ingresses:
    - https://spesialist.dev-fss.nais.io
    - https://speil.nais.preprod.local/api/v1
  prometheus:
    enabled: true
    path: /metrics
  webproxy: true
  secureLogs:
    enabled: true
  vault:
    enabled: true
    paths:
      - mountPath: /var/run/secrets/nais.io/vault
        kvPath: /kv/preprod/fss/spesialist/tbd
      - mountPath: /var/run/secrets/nais.io/service_user
        kvPath: /serviceuser/data/dev/srvspesialist
      - mountPath: /var/run/secrets/nais.io/azure
        kvPath: /azuread/data/dev/creds/spesialist
  env:
    - name: KAFKA_BOOTSTRAP_SERVERS
      value: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
    - name: KAFKA_RAPID_TOPIC
      value: helse-rapid-v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: spesialist-v1
    - name: DATABASE_HOST
      value: b27dbvl009.preprod.local
    - name: DATABASE_PORT
      value: "5432"
    - name: DATABASE_NAME
      value: spesialist
    - name: VAULT_MOUNTPATH
      value: postgresql/preprod-fss/
    - name: AZURE_CONFIG_URL
      value: https://login.microsoftonline.com/966ac572-f5b7-4bbe-aa88-c76419c0f851/v2.0/.well-known/openid-configuration
    - name: AZURE_REQUIRED_GROUP
      value: f844f535-2174-445c-a0db-b6c55f2e4780
    - name: SPLEIS_CLIENT_ID
      value: db11b132-a015-41df-8593-53f8d50eda31
    - name: SPESIALIST_OID
      value: be87b958-4ff0-405d-80b5-f47e836f0a0e
    - name: SPEIL_CLIENT_ID
      value: 9b484b08-503a-4c72-9861-c59acec774e6
    - name: RISK_FEATURE_TOGGLE
      value: true
