apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  strategy:
    type: Recreate
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 2000m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 512Mi
  replicas:
    min: 12
    max: 12
    cpuThresholdPercentage: 70
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-prod
  webproxy: true
  secureLogs:
    enabled: true
  azure:
    application:
      enabled: true
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "611669fa-de5c-4dc2-a0e8-6041a019992a"
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c"
  accessPolicy:
    inbound:
      rules:
        - application: speil
  vault:
    enabled: true
  envFrom:
    - secret: speil
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spesialist-v1
    - name: KAFKA_RESET_POLICY
      value: none
    - name: DATABASE_HOST
      value: a01dbvl011.adeo.no
    - name: DATABASE_PORT
      value: "5432"
    - name: DATABASE_NAME
      value: spesialist
    - name: VAULT_MOUNTPATH
      value: postgresql/prod-fss/
    - name: RISK_SUPERSAKSBEHANDLER_GROUP
      value: eb6e5e78-51a9-411c-b3b3-314debe35863
    - name: SPLEIS_CLIENT_ID
      value: api://prod-fss.tbd.spleis-api/.default
    - name: SPESIALIST_OID
      value: 5cc46653-7c6c-4c5e-b617-baf648452ad4
    - name: STIKKPROEVER_DIVISOR #Kan settes til 1 for å slå av automatisering
      value: "200"
    - name: UNLEASH_URL
      value: https://unleash.nais.io/api
