apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  ingresses:
    - https://spesialist.intern.nav.no
  liveness:
    path: isalive
    initialDelay: 5
  readiness:
    path: isready
    initialDelay: 5
  resources:
    limits:
      cpu: 4000m
      memory: 2048Mi
    requests:
      cpu: 100m
      memory: 512Mi
  replicas:
    min: 12
    max: 12
    cpuThresholdPercentage: 70
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-prod
  webproxy: true
  secureLogs:
    enabled: true
  azure:
    application:
      enabled: true
      claims:
        extra:
          - "NAVident"
        groups:
          - id: "611669fa-de5c-4dc2-a0e8-6041a019992a"
          - id: "f787f900-6697-440d-a086-d5bb56e26a9c"
          - id: "eb6e5e78-51a9-411c-b3b3-314debe35863"
          - id: "c21e58b6-d838-4cb0-919a-398cd40117e3"
          - id: "73ff0e76-f2b1-4586-8387-b33f15617381"
          - id: "59f26eef-0a4f-4038-bf46-3a5b2f252155"
  accessPolicy:
    inbound:
      rules:
        - application: speil
          namespace: tbd
          cluster: prod-gcp
    outbound:
      rules:
        - application: spleis-api
          namespace: tbd
          cluster: prod-gcp
  gcp:
    sqlInstances:
      - type: POSTGRES_14
        diskAutoresize: true
        pointInTimeRecovery: true
        diskSize: 1024
        diskType: SSD
        name: spesialist
        tier: db-custom-32-131072
        retainedBackups: 14
        databases:
          - name: spesialist
            envVarPrefix: DATABASE
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spesialist-v1
    - name: KAFKA_RESET_POLICY
      value: none
    - name: RISK_SUPERSAKSBEHANDLER_GROUP
      value: eb6e5e78-51a9-411c-b3b3-314debe35863
    - name: KODE7_SAKSBEHANDLER_GROUP
      value: c21e58b6-d838-4cb0-919a-398cd40117e3
    - name: BESLUTTER_SAKSBEHANDLER_GROUP
      value: 59f26eef-0a4f-4038-bf46-3a5b2f252155
    - name: SKJERMEDE_PERSONER_GROUP
      value: 73ff0e76-f2b1-4586-8387-b33f15617381
    - name: SPLEIS_CLIENT_ID
      value: api://prod-gcp.tbd.spleis-api/.default
    - name: STIKKPROEVER_DIVISOR #Kan settes til 1 for å slå av automatisering
      value: "100"
    - name: GRAPHQL_ENABLED
      value: "true"
    - name: SPLEIS_API_URL
      value: "https://spleis-api.intern.nav.no/"
