apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: spesialist
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  startup:
    path: isready
    initialDelay: 20
    periodSeconds: 5
    failureThreshold: 9
  liveness:
    path: isalive
  readiness:
    path: isready
  preStopHook:
    http:
      path: /stop
  resources:
    limits:
      memory: 2048Mi
    requests:
      cpu: 100m
      memory: 768Mi
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 50%
  replicas:
    min: 8
    max: 8
  observability:
    autoInstrumentation:
      enabled: true
      runtime: java
    logging:
      destinations:
        - id: elastic
        - id: loki
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: nav-prod
  azure:
    application:
      enabled: true
      claims:
        extra:
          - "NAVident"
        groups:
          - id: {{ENTRAID_UUID_SAKSBEHANDLER}}
          - id: {{ENTRAID_UUID_TBD}}
          - id: {{ENTRAID_UUID_NAIS_TBD}}
          - id: {{ENTRAID_UUID_KODE_7}}
          - id: {{ENTRAID_UUID_EGEN_ANSATT}}
          - id: {{ENTRAID_UUID_BESLUTTER}}
          - id: {{ENTRAID_UUID_STIKKPROVE}}
          - id: {{ENTRAID_UUID_SPESIALSAKER}}
  accessPolicy:
    inbound:
      rules:
        - application: speil
          namespace: tbd
          cluster: prod-gcp
    outbound:
      rules:
        - application: spleis-api
          namespace: tbd
          cluster: prod-gcp
        - application: digdir-krr-proxy
          namespace: team-rocket
          cluster: prod-gcp
        - application: logging
          namespace: nais-system
  gcp:
    permissions:
      - resource:
          apiVersion: resourcemanager.cnrm.cloud.google.com/v1beta1
          kind: Project
        role: roles/cloudprofiler.agent
    sqlInstances:
      - type: POSTGRES_17
        diskAutoresize: true
        pointInTimeRecovery: true
        diskSize: 1024
        diskType: SSD
        name: spesialist
        tier: db-custom-10-20480
        retainedBackups: 14
        flags:
          - name: cloudsql.enable_pgaudit
            value: "true"
          - name: pgaudit.log
            value: "write,ddl,role"
          - name: pgaudit.log_parameter
            value: "on"
          - name: work_mem
            value: '16384'
        databases:
          - name: spesialist
            envVarPrefix: DATABASE
            users:
              - name: bigquery_connection_user
              - name: spesialist-db-migrations
              - name: spesialist-sidegig
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-spesialist-v1
    - name: KAFKA_RESET_POLICY
      value: none
    - name: TILGANGSGRUPPE_UUID_BESLUTTER
      value: {{ENTRAID_UUID_BESLUTTER}}
    - name: TILGANGSGRUPPE_UUID_EGEN_ANSATT
      value: {{ENTRAID_UUID_EGEN_ANSATT}}
    - name: TILGANGSGRUPPE_UUID_KODE_7
      value: {{ENTRAID_UUID_KODE_7}}
    - name: TILGANGSGRUPPE_UUID_STIKKPROVE
      value: {{ENTRAID_UUID_STIKKPROVE}}
    - name: ROLLE_BESLUTTER
      value: {{ENTRAID_UUID_BESLUTTER}}
    - name: ROLLE_EGEN_ANSATT
      value: {{ENTRAID_UUID_EGEN_ANSATT}}
    - name: ROLLE_KODE_7
      value: {{ENTRAID_UUID_KODE_7}}
    - name: ROLLE_STIKKPROVE
      value: {{ENTRAID_UUID_STIKKPROVE}}
    - name: ROLLE_SELVSTENDIG_BETA
      value: {{ENTRAID_UUID_SPEIL_SAKSBEHANDLER_SELVSTENDIG_BETA}}
    - name: SPLEIS_CLIENT_ID
      value: api://prod-gcp.tbd.spleis-api/.default
    - name: STIKKPROEVER_UTS_FLERE_AG_FGB_DIVISOR #Kan settes til 1 for å slå av automatisering
      value: "200"
    - name: STIKKPROEVER_UTS_FLERE_AG_FORLENGELSE_DIVISOR
      value: "400"
    - name: STIKKPROEVER_UTS_EN_AG_FGB_DIVISOR
      value: "300"
    - name: STIKKPROEVER_UTS_EN_AG_FORLENGELSE_DIVISOR
      value: "500"
    - name: STIKKPROEVER_FULL_REFUSJON_FLERE_AG_FGB_DIVISOR
      value: "300"
    - name: STIKKPROEVER_FULL_REFUSJON_FLERE_AG_FORLENGELSE_DIVISOR
      value: "500"
    - name: STIKKPROEVER_FULL_REFUSJON_EN_AG_DIVISOR
      value: "1000"
    - name: STIKKPROEVER_SN_FORLENGELSE_DIVISOR
      value: "2"
    - name: SPLEIS_API_URL
      value: "http://spleis-api"
    - name: KONTAKT_OG_RESERVASJONSREGISTERET_API_URL
      value: "http://digdir-krr-proxy.team-rocket.svc.cluster.local"
    - name: KONTAKT_OG_RESERVASJONSREGISTERET_SCOPE
      value: "api://prod-gcp.team-rocket.digdir-krr-proxy/.default"
    - name: JDK_JAVA_OPTIONS
      value: -agentpath:/opt/cprof/profiler_java_agent.so=-cprof_service=spesialist,-cprof_enable_heap_sampling=true,-logtostderr,-minloglevel=1,-cprof_project_id=tbd-prod-eacd
