name: Deploy spesifikk commit til dev

on:
  workflow_dispatch:
    inputs:
      commitHash:
        description: 'SHA of the commit to deploy'
        required: true

jobs:
  lag_tag:
    name: Lag en (midlertidig) tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.commitHash }}
      - name: Lag tag for senere workflows
        run: |
          git tag denne_skal_deployes_til_dev
          git push origin denne_skal_deployes_til_dev

  build:
    needs: [ lag_tag ]
    uses: navikt/helse-spesialist/.github/workflows/build-image.yml@master
    secrets: inherit
    with:
      ref: denne_skal_deployes_til_dev

  deployDev:
    name: deploy to dev
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: denne_skal_deployes_til_dev
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev.yml
          IMAGE: ${{ needs.build.outputs.image }}

  fjern_tag:
    name: Fjern taggen
    needs: [ deployDev ]
    runs-on: ubuntu-latest
    steps:
      - run: |
          git push origin :denne_skal_deployes_til_dev
