name: Hovedbygget

on:
    push:
        paths-ignore:
            - 'Dockerfile-opprydding-dev'
            - 'spesialist-opprydding-dev/**'
            - '.github/workflows/spesialist-opprydding-dev.yml'
            - 'deploy/dev-opprydding.yml'
            - 'Dockerfile-migrering'
            - 'spesialist-migrering/**'
            - '.github/workflows/spesialist-migrering.yml'
            - 'deploy/dev-migrering.yml'
            - 'deploy/prod-migrering.yml'
            - '.github/workflows/deploy_specific_commit_to_dev.yml'
            - 'deploy/hpa/**'
        branches:
            - master

jobs:
    build:
        permissions:
            contents: "read"
            id-token: "write"
        name: Build image
        runs-on: ubuntu-latest-16-cores
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '17.x'

            - name: Gradle build
              uses: gradle/gradle-build-action@v2.9.0
              with:
                arguments: :spesialist-selve:build # felles- og api-modulene bygges fordi selve avhenger av dem
              env:
                  ORG_GRADLE_PROJECT_githubUser: x-access-token
                  ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}

            - uses: nais/docker-build-push@v0
              id: docker-build-push
              with:
                  team: tbd
                  cache_from: type=gha
                  cache_to: type=gha,mode=min
                  project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
                  identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
        outputs:
            image: ${{ steps.docker-build-push.outputs.image }}

    deployDev:
        name: Deploy to dev
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-gcp
                  RESOURCE: deploy/dev.yml,deploy/dev-db-policy.yml
                  IMAGE: ${{ needs.build.outputs.image }}

    deployProd:
        name: Deploy to prod
        needs: [build, deployDev]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: prod-gcp
                  RESOURCE: deploy/prod.yml,deploy/prod-db-policy.yml
                  IMAGE: ${{ needs.build.outputs.image }}
