name: Hovedbygget

on:
    push:
        paths-ignore:
            - 'Dockerfile-opprydding-dev'
            - 'spesialist-opprydding-dev/**'
            - '.github/workflows/spesialist-opprydding-dev.yml'
            - 'deploy/dev-opprydding.yml'
        branches:
            - master

jobs:
    image_name:
      name: Set image name
      runs-on: ubuntu-latest
      steps:
        - name: Create image name
          uses: actions/github-script@v6
          id: image_name_func
          with:
            result-encoding: string
            script: |
              const tag = context.sha.substring(0, 7)
              const repoAndAppPart = `${context.repo.owner}/${context.repo.repo}/spesialist`
              return `ghcr.io/${repoAndAppPart}:${tag}`

      outputs:
        image:  ${{ steps.image_name_func.outputs.result }}

    build:
        name: Build image
        runs-on: ubuntu-latest-16-cores
        needs: image_name
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-java@v3
              with:
                  distribution: 'temurin'
                  java-version: '17.x'

            - name: Gradle build
              uses: gradle/gradle-build-action@v2
              with:
                arguments: build
              env:
                  ORG_GRADLE_PROJECT_githubUser: x-access-token
                  ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}

            - uses: docker/setup-buildx-action@v2
              with:
                install: true

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push image
              uses: docker/build-push-action@v4
              with:
                  context: .
                  tags: ${{ needs.image_name.outputs.image }}
                  push: true
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

    snyk:
        name: Check vulnerabilities
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Gradle vulnerability check
              uses: snyk/actions/gradle@master
              env:
                  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
                  ORG_GRADLE_PROJECT_githubUser: x-access-token
                  ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: --all-sub-projects --org=tbd-ty7 --fail-on=all --configuration-matching='^runtimeClasspath'
                  command: monitor

    deployDev:
        name: Deploy to dev
        needs: [image_name, build]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: nais/deploy/actions/deploy@v1
              env:
                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
                  CLUSTER: dev-gcp
                  RESOURCE: deploy/dev.yml
                  IMAGE: ${{ needs.image_name.outputs.image }}
#
#    deployProd:
#        name: Deploy to prod
#        needs: [image_name, build, deployDev]
#        runs-on: ubuntu-latest
#        steps:
#            - uses: actions/checkout@v3
#            - uses: nais/deploy/actions/deploy@v1
#              env:
#                  APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
#                  CLUSTER: prod-gcp
#                  RESOURCE: deploy/prod.yml
#                  IMAGE: ${{ needs.image_name.outputs.image }}
