name: Bygg PR

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    uses: navikt/helse-spesialist/.github/workflows/build-image.yml@main
    with:
      gradle_command: build
      dockerfile: Dockerfile
      image_suffix: pr${{ github.event.pull_request.number }}
    secrets: inherit
