name: Spesialist

on:
    push:
        paths-ignore:
            - 'Dockerfile-db-migrations'
            - 'Dockerfile-opprydding-dev'
            - 'spesialist-db-migrations/**'
            - 'spesialist-opprydding-dev/**'
            - '.github/workflows/spesialist-db-migrations.yml'
            - '.github/workflows/spesialist-opprydding-dev.yml'
            - '.github/workflows/deploy_specific_commit_to_dev.yml'
            - '.github/workflows/alerts.yml'
            - '.github/workflows/codeql.yml'
            - '.github/workflows/pr.yml'
            - 'deploy/dev-db-migrations.yml'
            - 'deploy/dev-opprydding.yml'
            - 'deploy/prod-db-migrations.yml'
            - 'deploy/alerts/**'
        branches:
            - main
            - 'dev-**'

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
    contents: read
    id-token: write
    packages: read

jobs:
    build:
        uses: navikt/helse-spesialist/.github/workflows/build-image.yml@main
        with:
            gradle_command: build
            dockerfile: Dockerfile
            image_suffix: ''
        secrets: inherit

    deployDev:
        name: Deploy to dev
        needs: [build]
        runs-on: ubuntu-latest
        if: ${{github.ref_name == 'main' || startsWith(github.ref_name, 'dev-')}}
        steps:
            - uses: actions/checkout@v6
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: dev-gcp
                  RESOURCE: deploy/dev.yml,deploy/dev-db-policy.yml
                  IMAGE: ${{ needs.build.outputs.image }}
                  VARS: deploy/entra-id-vars.yml

    deployProd:
        name: Deploy to prod
        needs: [build]
        runs-on: ubuntu-latest
        if: ${{ github.ref_name == 'main' }}
        steps:
            - uses: actions/checkout@v6
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: prod-gcp
                  RESOURCE: deploy/prod.yml,deploy/prod-db-policy.yml
                  IMAGE: ${{ needs.build.outputs.image }}
                  VARS: deploy/entra-id-vars.yml
