name: Spesialist

on:
    push:
        paths-ignore:
            - 'Dockerfile-db-migrations'
            - 'Dockerfile-opprydding-dev'
            - 'Dockerfile-sidegig'
            - 'spesialist-opprydding-dev/**'
            - 'spesialist-sidegig/**'
            - '.github/workflows/spesialist-db-migrations.yml'
            - '.github/workflows/spesialist-opprydding-dev.yml'
            - '.github/workflows/spesialist-sidegig.yml'
            - '.github/workflows/deploy_specific_commit_to_dev.yml'
            - '.github/workflows/alerts.yml'
            - '.github/workflows/codeql.yml'
            - '.github/workflows/pr.yml'
            - 'deploy/dev-db-migrations.yml'
            - 'deploy/dev-opprydding.yml'
            - 'deploy/prod-db-migrations.yml'
            - 'deploy/prod-sidegig.yml'
            - 'deploy/alerts/**'
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
    contents: read
    id-token: write

jobs:
    build:
        uses: navikt/helse-spesialist/.github/workflows/build-image.yml@main
        with:
            gradle_command: build
            dockerfile: Dockerfile
            image_suffix: ''
        secrets: inherit

    deployDev:
        name: Deploy to dev
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: nais/deploy/actions/deploy@v2
              env:
                  CLUSTER: dev-gcp
                  RESOURCE: deploy/dev.yml,deploy/dev-db-policy.yml,deploy/unleash/dev.yml
                  IMAGE: ${{ needs.build.outputs.image }}
